html {
    scroll-behavior: smooth;
    width: 100vw;
}

.backimage-container {
    background-image: url("..//assets//background.avif");
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -2;
    opacity: 0.2;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.page_scroller {
    position: fixed;
    z-index: 10000;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    background-color: rgba(211, 211, 211, 0.85);
    font-size: 50px;
    transition: all 0.2s;
    border-radius: 50% 50% 50% 50% / 80% 80% 20% 20%;
    cursor: pointer;
}

.page_scroller div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
}

.page_scroller:hover {
    background-color: #ff8b17e7;
    color: aliceblue;
    background: linear-gradient(90deg, rgb(150, 89, 155) 1%, rgba(255, 139, 23, 1) 69%);
    box-shadow: rgba(150, 89, 155, 0.4) 0px 5px, rgba(150, 89, 155, 0.3) 0px 10px, rgba(150, 89, 155, 0.2) 0px 15px, rgba(150, 89, 155, 0.1) 0px 20px, rgba(150, 89, 155, 0.05) 0px 25px;
    transform: translateY(-3px);
}