.Contact_section {
    width: 100vw;
    background-color: aliceblue;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.Contact_heading {
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    padding: 30px 0 30px 0;
    color: #95599b;
    cursor: default;
    transition: all 1s ease-in;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Contact_heading h1 {
    transition: all 1s ease-in;
    text-decoration: underline 3px;
}

.Contact_heading:hover h1{
    color: #ff8b17e7;
    transform: translateY(-3px);
}

.Contact_details {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
}

.Contact_logo {
    padding: 0 10px 10px 35px;
}

.Contact_logo img {
    height: 50px;
    object-fit: contain;
}

.huh {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    line-height: 25px;
}

.Contact_text_elements {
    color: #95599b;
    font-size: 1.1em;
    font-weight: 400;
    width: 33.33%;
    padding: 20px;
    padding-bottom: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.Map_grid {
    margin: 20px;

    box-shadow: 0 0 0 2px rgba(150, 89, 155, 1), 8px 8px 0 0 rgba(150, 89, 155, 1);

    transition: all 0.3s;

    width: 30vw;
    height: 35vh;
}

.Map_grid:hover {
    box-shadow: 0 0 0 2px rgba(255, 140, 26, 0.906), 10px 10px 0 0 rgba(255, 140, 26, 0.906), rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translateY(-5px);
}

#frame{
    width: 100%;
    height: 100%;
}

.linebreak {
    width: 4px;
    height: 100%;
    background-color: #95599b;
    color: #95599b;
    line-height: 169px;
}

.Email_email{
    color: #95599b;
    transition: all 0.3s;
}

.Email_email:hover{
    color: #ff8b17e7;
    transform: translateY(-3px);
}

@media (max-width: 1100px){
    .Contact_logo{
        padding: 50px 0 0 0;
    }

    .Contact_logo img{
        height: 100px;
    }

    .Contact_section{
        margin-top: 100px;
    }

    .Contact_heading{
        font-size: 55px;
    }

    .Contact_details{
        flex-direction: column;
        justify-content: space-around;
    }

    .linebreak{
        width: 40%;
        height: 4px;
        margin: 40px 0 40px 0;
    }

    .Map_grid{
        width: 80vw;
        height: 20vh;
    }

    .Contact_text_elements{
        width: 80vw;
        height: 15vh;
        font-size: 35px;
    }

    .Address_address{
        line-height: 40px;
    }
}