@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@300;500;600&family=Quicksand:wght@300;400;500&display=swap');

.Programs_head {
    /* height: 80%;
    width: 80%; */
    position: relative;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* margin: 0; */

    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.Programs_head {
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    padding: 30px;
    color: #95599b;
    cursor: default;
    transition: all 1s ease-in;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Programs_head_text {
    text-decoration: underline 3px;
    transition: all 1s;
}

.Programs_head_text:hover {
    color: #ff8b17e7;
    transform: translateY(-3px);
}

.Programs-grid-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.Programs-elements {
    display: flex;
    width: 40%;
    height: 40%;
    background-color: aliceblue;
    margin: 1.5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 0 2px rgba(150, 89, 155, 1), 8px 8px 0 0 rgba(150, 89, 155, 1);
    transition: all 0.2s;
}

.Programs-elements:hover {
    box-shadow: 0 0 0 2px rgba(255, 140, 26, 0.906), 10px 10px 0 0 rgba(255, 140, 26, 0.906), rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translateY(-5px);
}

.Programs-pic-container {
    display: inline-block;
    width: 33%;

}

.Programs-text {
    position: relative;
    display: inline-block;
    width: 66%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 20px;
    /* text-align: center; */
}

.Programs-text div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #95599b;
}

.Programs-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 25% 50%;
}